<!doctype html>
<html lang="en">
<head>
{% include _head.html %}
</head>
<body class="download-page">
{% include _topbar.html %}
<main id="main" class="wrap page narrow">
  <header class="page-head center">
    <img src="{{root}}static/img/logo.svg" alt="" width="84" height="84" class="download-logo">
    <p class="kicker">Download</p>
    <h1>Get JBrowser <span data-latest-version>{{latest_version}}</span></h1>
    <p class="lead">Free for Windows 10 and 11. <a href="{{release_url}}" data-latest-release>What's new in this version</a></p>
  </header>
  <section class="install-page">
{% include _install_steps.html %}
  </section>
</main>
{% include _footer.html %}
</body>
</html>
